body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
  
  .navigation {
    overflow: hidden;
    background-color: #6D6563;
    min-width: 100%;
}
  
  .navigation a {
    float: left;    
    text-align: center;
    padding: 16px 20px;
    display: block;
    color: #f2f2f2;
    text-decoration: none;
    font-size: 20px;
}
  
  .navigation a:hover {
    background-color: #DCD9D8;
    color: black;
}
  
  .navigation a.active {
    background-color: rgb(187, 57, 57);
    color: white;
}
  
  .navigation .js {
    display: none;
}

  h1 {
    text-align: center;
  }

  figure {
    
    text-align: center;
    
  }

  figure img {
    max-width: 300px;
    max-height: 300px;
    width: 100%;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
  }

  .grid-container {
    display: grid;
    
    text-align: center;
    grid-template-columns: 30% 30% 30%;
    padding: 10px;
  }

  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }

  /*
  The following 2 css rule sets help the website
  be responsive. I don't fully understand it but
  it works
  */
  @media screen and (max-width: 600px) {
    .navigation a:not(:first-child) {display: none;}
    .navigation a.js {
      float: right;
      display: block;
    }
}
  
  @media screen and (max-width: 600px) {
    .navigation.responsive {position: relative;}
    .navigation.responsive .js {
      position: absolute;
      right: 0;
      top: 0;
}
    .navigation.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
}

